.sales-summary-container {
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  height: 150px;
  width: 300px;
  padding: 30px 15px;
}

.sales-summary-header {
  margin-bottom: 30px;
}

.sales-summary-total-amount {
  color: var(--primary-color);
  font-size: 36px;
}

.sales-summary-subtitle {
  color: #8d8d8d;
  font-size: 18px;
}

@media (min-width: 576px) {
  .sales-summary-container {
    width: 500px;
    padding-left: 40px;
    height: 120px;
  }
}

@media (min-width: 768px) {
  .sales-summary-container {
    width: 650px;
  }
}

@media (min-width: 1200px) {
  .sales-summary-container {
    width: 500px;
    height: 300px;
    margin-right: 0;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
