.sales-summary-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    border-radius: 5px;
    margin: 10px;
    height: 517px;
    width: 300px;
    padding: 30px 15px;
}

.sales-summary-header {
    margin-bottom: 30px;
}

.sales-summary-total-amount {
    color: var(--primary-color);
    font-size: 36px;
}

.sales-summary-subtitle {
    color: #8D8D8D;
    font-size: 18px;
}

.sales-summary-pie-chart {
    display: flex;
    padding: auto;
}
