.sales-filter-container {
    background-color: #FFFF;
    border-radius: 5px;
    margin: 10px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.sales-filter-select__control {
    width: 200px;
}
