.sales-navbar-container {
    background-color: #FFFF;
    margin-bottom: 10px;
    width: 100%;
}

.sales-navbar-title {
    margin-top: 0;
    padding: 15px 30px;
    color: var(--primary-color);
    font-size: 24px;
}