.pie-chart-container {
  width: 300px;
  background-color: #ffff;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.pie-chart-card {
  display: flex;
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}
